<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <title>Main</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MadDimon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Main<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contacts</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="student_list.html">Students<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <img src="../static/images/white_970x90.gif" class="img-fluid" alt="Lorem ipsum">
  <div class="container"><p class="h3">Полностью выдуманный список студентов PyBursa</p>
  <p class="text-justify">"Нет никого, кто любил бы боль саму по себе, кто искал бы её и кто хотел бы иметь её просто потому, что это боль.."</p></div>
<div class=container>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Surname</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Skype</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="student_detail.html">1</a></th>
      <td>Sherlock</td>
      <td>Holmes</td>
      <td>221B Baker Street, London, UK</td>
      <td><a href="skype:guy_with_a_violin?call">@guy_with_a_violin</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Edward Joseph</td>
      <td>Snowden</td>
      <td>Kunia Camp, Hawaii, U.S.</td>
      <td><a href="skype:sillyfluffy1983?call">@sillyfluffy1983</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Jean Jacques</td>
      <td>Rambonnet</td>
      <td>Bentinckplein 40, Rotterdam, Netherlands</td>
      <td><a href="skype:naval-officer1?call">@naval-officer1</a></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Oprah</td>
      <td>Winfrey</td>
      <td>110 N Carpenter St., Chicago, Illinois, U.S.</td>
      <td><a href="skype:owinfrey?call">@owinfrey</a></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Howard Jr</td>
      <td>Hughes</td>
      <td>Glenwood Cemetery, Houston, Texas, U.S.</td>
      <td><a href="skype:aviator?call">@aviator_top</a></td>
    </tr>
  </tbody>
</table>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
